<p><%= link_to 'Home Page', welcome_index_path %></p>

<p><strong>Title:</strong>
	<%= @article.title %>
</p>
<p>
	Created at:
	<%= @article.created_at %>
</p>
<p>
	Text:
	<%= @article.text %>
</p>

 
<p><%= link_to 'Back', articles_path %></p>
<p><%= link_to 'Home Page', welcome_index_path %></p>





